# --- Ejecutables y Binarios 
*.exe
*.out
*.app
*.o
*.obj


# --- Bases de Datos y Datos locales 
*.db
*.sqlite
# archivos temporales sqlite
*.db-journal
*.db-wal
tmpclaude*

# --- Logs y temporales
*.log
log.txt
tmp/
RESUMEN_PROYECTO.txt
CAMBIOS_RESERVAS.txt
DISTRIB_DIRECTORIOS.txt

# # --- Carpetas de Compilación 
# build/
# bin/
# obj/

# --- Archivos de IDE 
.vscode/
.vs/
*.user
*.suo